<html>

<head>
  <style>
    
    #labelarea {
        background-color: #999;
        color: #000;
    } 

    .label {
      color: white;
    }   
  </style>  
<script src="/main.js"></script>
</head>  

<body>


<div id="labelarea">
    <p>INFO FOR &nbsp;<%= person.name.toUpperCase()%></p>
    <label class="label">Name:</label><br>
    <label><%= person.name%></label><br>
    <label class="label">Email:</label><br>
      <label><%= person.email%></label><br>
    <label class="label">Address:</label><br>
      <label><%= person.address%></label><br>
</div>
<button id='' onclick = "deleteRequest('<%= person.name %>')">Delete</button>
<button type="button" onclick ="window.location.href='/update/'+<%=personSelected%>" class="btn btn-default" >Edit</button>


</body>


</html>