<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <style>
    .form-group {
        background-color: #333;
        color: #fff;
    }  
  </style>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/main.js"></script>
</head>


<body>
<div class="form-group">
  <p>Update the info for <%= results[personSelected].name %></p>

  <form action="/create" method="POST">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" value="<%= results[personSelected].name%>">
  <br><br>

    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" value="<%= results[personSelected].email%>">
  <br><br>

    <label for="address">Address</label>
    <input type="text" class="form-control" name="address" value="<%= results[personSelected].address%>">
  <br><br>
  <%- console.log ('update.ejs JSON.stringify(results[personSelected] is : '+ JSON.stringify(results[personSelected])) %> 
  <!--had to use a single quote in onclick below because the stringify has
  double quote which can't be escaped!-->
  <button type="button" onclick = 'updateRequest(<%=personSelected%>,<%- JSON.stringify(results[
personSelected].name) %>)' class="btn btn-default" >Confirm Update</button>
  <button type="button" onclick = "window.location.href='/'" class="btn btn-default" >Cancel</button>
</form>
</div>
<br>